body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}

.container-fluid{
    padding: 15% 7%;
}

/* Section Text Coloring */

.colored{
    background-color: #ff4c68;
    color: white;
}

.norm{
    background-color: #fff;
}

/* Title Section Styles */
#title{
    
    text-align:left;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.rotDog{
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}





/* Header Section */

.big-header{
    font-size: 4rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar Overwritten Styles */

.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}

/* Buttons Overwritten Styles */

.dw-button{
    margin:5% 3% 5% 0;
}

/* Features Styles */

#features{
    position:relative;
    z-index: 1;
}

.feat-h3{
    font-size: 1.5rem;
}

.feat-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #8f8f8f;
    padding:0 5% 5% 5%;
}

.fab-color-me{
    line-height:1.5;
    color:#ef8172;
}

.fab-color-me:hover {
    color:#ff4c68;
}

/* Testomonial Styles */

#testimonials   {
    background-color: #ef8172;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}

.testimonial-txt{
    font-size: 3.5rem;
    line-height: 1.5;
}

.carousel-item{
    padding: 7% 5%;
}

/* Press styles */

#press{
    background-color: #ef8172;
    
    padding-bottom: 3%;
}

.press-img{
    width:15%;
    margin: 20px 20px 50px;
}


/* Pricing */

#pricing{
    padding: 100px;
    
}

.price-col{
    padding: 3% 2%;
}

.price-h2{
    font-size:3rem;
    line-height: 1.5;
}
@media (max-width:1028px) { 
    #title{
        text-align: center;
        align-items: center;
    }
    .rotDog{
        position: static;
        transform:rotate(0);
    }
}

/* CTA Section */




.cta-btn{
    margin-top: 50px;
}

/* Footer Section Styles */

#footer{
    text-align:center;
    padding:3% 7%
}
.footer-p{
    font-family:'Montserrat', sans-serif;
    font-weight: 100;
}

.footer-socials{
    margin:20px 10px;
    color: #5e5555;
}

